/* @font-face {
  font-family: 'CustomFont';
  src: url('CloisterBlack.ttf') format('truetype');
} */

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  max-width: 100%;
  height: 50px;
  background-color: grey;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'CustomFont', serif;
  color: aliceblue;
  font-size: min(5vw, 1.2em);
}

body {
  font-family: 'CustomFont', sans-serif;
  background-color: rgb(38, 38, 38);
  color: aliceblue;
}

p {
  font-family: 'CustomFont', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: grey;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: space-between;

}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 2px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  

}
.head {
  position: relative;
  width: 100%;
  height: 100%;
}